<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${sectionName}"></title>
    <head th:insert="~{import :: head}"></head>
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main profile">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span th:text="${sectionName}"></span></h2>
            <hr>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:if="${section == 'blogs'}">
                <div class="media" th:each="blog : ${pagination}">
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a th:href="@{'/question/'+ ${blog.id}}" th:text="${blog.title}"></a>
                        </h4>
                        <span class="text-desc">
                        <span
                                th:text="${#dates.format(blog.gmtCreate,'yyyy-MM-dd HH:mm')}"></span> •
                        <a th:href="@{'/publish/'+${blog.id}}" class="community-menu">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true">编辑</span>•
                        </a>
                        <a th:href="@{'/admin/delete/blog/'+${blog.id}}" class="community-menu">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true">删除</span>
                        </a>
                    </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:if="${section == 'comments'}">
                <div class="media" th:each="comment : ${pagination}">
                    <div class="media-body">
                        <p class="media-heading">
                            <span th:text="${comment.name}"></span>
                            <a th:href="@{'/blog/'+ ${comment.blogId}}"
                               th:text="${comment.content}">
                            </a>
                            <a th:href="@{'/admin/delete/comment/'+${comment.id}} + '/'+${comment.blogId}" class="community-menu">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true">删除</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="list-group section">
                <a href="/admin/blogs"
                   th:class="${section == 'blogs'}? 'active list-group-item' : 'list-group-item'">
                    博客管理
                </a>
                <a href="/admin/comments"
                   th:class="${section == 'comments'}? 'active list-group-item' : 'list-group-item'">
                    评论管理
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>