<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${blog.blog.title}"></title>
    <head th:insert="~{import :: head}"></head>
    <head th:insert="~{import :: markdown}"></head>
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main profile">
    <div class="row">

        <!--左边主要内容-->
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <!--正文-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4 class="question-title"><span th:text="${blog.blog.title}"></span></h4>
                <span class="text-desc">
                作者：<span th:text="${blog.user.name}"></span> |
                发布时间：<span th:text="${#dates.format(blog.blog.gmtCreate,'yyyy-MM-dd HH:mm')}"></span> |
                阅读数： <span th:text="${blog.blog.viewCount}"></span>
            </span>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <!--内容-->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="question-view">
                    <textarea style="display:none;" th:text="${blog.blog.content}"></textarea>
                </div>
                <script type="text/javascript">
                    $(function () {
                        editormd.markdownToHTML("question-view", {});
                    });
                </script>

                <!--编辑-->
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <a th:href="@{'/publish/'+${blog.blog.id}}" class="community-menu"
                       th:if="${session.user != null && session.user.id == blog.blog.creator}">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true">编辑</span>
                    </a>
                    <a th:href="@{'/delete/blog/'+${blog.blog.id}}" class="community-menu"
                       th:if="${session.user != null && session.user.id == blog.blog.creator}">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true">删除</span>
                    </a>
                </div>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            </div>

            <!--回复-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>
                    <span th:text="${blog.blog.commentCount}"></span> 个回复
                </h4>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment-sp">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comments" th:each="comment : ${comments}">
                    <div class="media">
                        <div class="media-body" th:id="${'comment-body-'+comment.id}">
                            <h5 class="media-heading">
                                <span th:text="${comment.name}"></span>
                            </h5>
                            <div th:text="${comment.content}"></div>
                        </div>
                    </div>
                    <a th:href="@{'/delete/comment/'+${comment.id}} + '/'+${blog.blog.id}" class="community-menu"
                       th:if="${session.user != null && session.user.id == comment.userId}">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true">删除</span>
                    </a>
                </div>
            </div>

            <!--回复输入框-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>
                    提交回复
                </h4>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment-sp">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="comment_section">
                    <div class="media">
                        <div class="media-body">
                            <h5 class="media-heading">
                                <span th:text="${session.user != null ? session.user.name : '匿名用户'}"></span>
                            </h5>
                        </div>
                    </div>
                    <input type="hidden" id="blog_id" th:value="${blog.blog.id}">
                    <textarea class="form-control comment" rows="6" id="comment_content"></textarea>
                    <button type="button" class="btn btn-success btn-comment" onclick="post()">回复</button>
                </div>
            </div>

        </div>

        <!--右边信息块-->
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>发起人</h4>
                <div class="media">
                    <div class="media-body">
                        <h5 class="media-heading">
                            <span th:text="${blog.user.name}"></span>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>