<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>扎扎博客</title>
    <head th:insert="~{import :: head}"></head>
</head>
<script type="application/javascript">
    window.onload = function () {
        var closable = window.localStorage.getItem("closable");
        if (closable == "true") {
            window.close();
            window.localStorage.removeItem("closable");
        }
    }
</script>
<body>
<div th:insert="~{navigation :: nav}"></div>

<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">

            <h2>
                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                博客列表
            </h2>
            <hr>

            <div class="media">
                <div class="media-body">
                    <h4 class="media-heading">heading</h4>
                    <span class="text-desc">回复浏览</span>
                </div>
                <div class="media-body">
                    删除等等
                </div>
            </div>

        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
        </div>
    </div>
</div>

</body>
</html>